#navbar {
    background-color: var(--bs-gray);
    padding: 1rem;
    color: var(--bs-white);
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    margin-right: 1rem;
    cursor: pointer;
    transition: .5s;
}

#navbar ul li:hover {
    opacity: .7;
    transition: .5s;
}

#navbar ul li:hover:first-child {
    opacity: 1;
}

main {
    padding: 2rem;
}

.add-presentation-options {
    display: flex;
}

.add-presentation-options * {
    flex-grow: 1;
    margin: .5rem;
}

.add-presentation-options span:last-child {
    width: fit-content;
    flex-grow: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    padding-left: .7rem;
}

#add-presentation-list {
    max-height: 50vh;
    overflow-y: scroll;
}