# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\020_ZLI\160_OOP\080_Cinema_Management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
